@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    font-family: 'Montserrat', sans-serif;
}
p{
  text-align: center;
}

p.contact{
  text-align: start;
  display: block;
  width: 100%;
  padding-left: 21%;
}

p.intro{
  padding-bottom: 12px;
   color: black; 
   background-color: white;
   text-align: center;
   font-size: 25px;
   border-bottom: 3px solid;
   border-bottom-color: rgb(44, 165, 33);
   border-bottom-left-radius: 2cm;
   border-bottom-right-radius: 2cm;
}

.tooltip {
  opacity: 0;
  width: 15%;
  height: 10%;
  max-width: 90px;
  position: fixed;
  top: 30px;
  right: 0px;
  background-color: rgb(192, 187, 187);
  z-index: 1;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  animation: mymove 0.6s ease-out;
  animation-delay: 1.2s;
  animation-fill-mode: forwards;
 }

 div.tooltip a img{
  height: 80%;
  padding-top: 8%;
  padding-left: 8%;
  transition: all 0.6s;
  position: relative;
  
 }

 div.tooltip a img:hover{
   transform: scale(0.9);
   border-radius: 40px;
   transition: all 0.5s;
 }


#toplogo {
    display: flex;
    padding-top: 5px;
    padding-bottom: 40px;
    align-items: center;
    justify-content: center;
}
a#logoanchor{
    display: flex;
    justify-content: center;
}

#zklogo{
  width: 60%;
}


div.distinction{
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

li.star{
  margin: 0;
	padding: 20px 0 20px 40px;
	list-style: none;
	background-image: url("images/star.svg");
	background-repeat: no-repeat;
	background-position: left center;
  background-size: 20px;
  width: 400px;
}

ul {
  word-wrap: break-word;
}

.examplephoto{
  width: 500px;
  border-radius: 20px;
}

.container{
  position: relative;
  text-align: center;
  color: white;
  width: 80%;
  margin: 0 auto;
  height: 300px;
}

.container-even{
  display: flex;
  position: relative;
  background-color: rgb(226, 223, 223);
  width: 100%;
  margin: 0 auto;
  height: 400px;
}

.container-single{
  display: flex;
  position: relative;
  background-color: rgb(255, 255, 255);
  width: 100%;
  margin: 0 auto;
  height: 400px;
}

.container-single-map{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  background-color: rgb(255, 255, 255);
  width: 100%;
  margin: 0 auto;
  height: 400px;
}

.type{
  font-size: 1.5rem;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}

.type-img{
  border-radius: 10px;
  height: 80%;
  width: 90%;
  object-fit: cover;
  transition: all 0.4s;
}

.type-img:hover{
  filter: saturate(1.5);
  border-radius: 20px;
  transform: scale(1.05);
  transition: all 0.3s;
}

div.type p img{
  padding-bottom: 20px;
}

.bottom-right{
  font-weight: 550;
  position: absolute;
  bottom: 30px;
  right: 60px;
}

div div.top-right{
  max-width: 50%;
  font-weight: 590;
  position: absolute;
  top: 30px;
  right: 60px;
}

#ledder{
  border-radius: 20px;
  height: 300px;
  object-fit: cover;
  filter: saturate(30%);
}

a.cool-btn {
  display: block;
  font-size: 1.0rem;
  padding: 1rem 3rem;
  color: #f4f4f4;
  text-transform: uppercase;
}

.cool-btn{
  text-decoration: none;
  border: 2px solid rgb(250, 252, 250);
  position: relative;
  overflow: hidden;
  transition: all 400ms;
}

.cool-btn:hover {
  transform: scale(0.9);
  transition: all 550ms;
}
/*---------------------LANGAGES-----------------*/
#langdiv{
  position: absolute;
  width: 10%;
  height: 70px;
  top: 20px;
  left: 3%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#langdiv a img {
  filter: saturate(0.4);
  margin-left: auto 0;
}
#langdiv a{
  margin-left: 10px;
  margin-bottom: 10px;
}

#langdiv a img.active{
  filter: saturate(1.2);
  transform: scale(1.3);
  border-bottom: 2px solid rgb(56, 126, 16);
  border-radius: 2px;
}













/*---------------FORM----------------------------*/
form.mail-us{
  background-color: rgb(241, 241, 241);
  padding-bottom: 2rem;
}

form.mail-us textarea{
  display: block;
  width: 60%;
  margin-left: 10%;
}

form.mail-us p{
  padding-top: 20px;
  text-align: start;
  margin-left: 10%;
  font-size: 2rem;
  font-weight: 700;
}
form.mail-us .text-areas{
  border-radius: 4px;
  display: block;
  margin-left: 10%;
  font-size: 1.2rem;
  transition: all 0.5s;
}
.comment{
  width: 70%;
}

form.mail-us input.text-areas:hover{

  background-color: rgb(233, 255, 226);
  color: rgb(3, 3, 3);
  border-color: rgb(255, 255, 255);
  transition: all 0.4s;
}
form .form-btn{
  border-radius: 4px;
  margin-left: 10%;
  transition: all 0.5s;
}

form .form-btn:hover{
  transform: scale(1.1);
  transition: all 0.4s;
}

/*--------------------GALLERY----------------------*/

.head-container{
  margin-bottom: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container-gallery{
  background-color: rgba(8, 8, 8, 0.089);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 90%;
  border-radius: 20px;

}

div.container-gallery img{
  margin: 30px auto;
  margin-bottom: 0px;
  border-radius: 8px;
  height: auto;
  width: 90%;
  object-fit: cover;
}
.container-gallery ul{
  width: 80%;
}

.container-gallery li{
	padding: 20px 0 20px 40px;
	list-style: none;
	background-image: url("images/star.svg");
	background-repeat: no-repeat;
	background-position: left center;
  background-size: 20px;
  width: 80%;
}








/*------------------MENU----------------------------*/

  
  nav.menu {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
  }

  nav.menu li a {
    display: block;
    padding: 15px;
    padding-top: 0px;
    text-decoration: none;
    color: rgb(107, 103, 103);
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 10px;
  }
  nav.menu li a,
  nav.menu li a:after,
  nav li a:before {
    transition: all .5s;
  }
  nav li a:hover {
    color: rgb(8, 8, 8);
  }

  nav.menu li a,
nav.fill li a {
  position: relative;
}
nav.menu li a:after,
nav.fill li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: rgb(44, 165, 33);
  height: 2px;
}
nav.menu li a:hover:after {
  width: 100%;
}

nav.menu li a.active{
  color: rgb(44, 165, 33);
}



/*----------------------FOOTER-------------------*/

.footer{
  border-top: 3px solid rgba(8, 8, 8, 0.384);
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(255, 255, 255, 0.2);
  height: 200px;
  align-items: center;
}

footer a img{
  height: 100px;
  border-radius: 20px;
  transition: all 0.4s;
}
footer a img:hover{
  transform: scale(1.1);
  filter: saturate(190%);
  transition: all 0.4s;
}
footer div{
  font-weight: 700;
  border-bottom: 2px solid rgb(8, 8, 8);
}
.footer-icon{
  margin-right: 10px;
  height: 20px;
  filter: saturate(10%);
}
.footer-icon-last{
  height: 20px;
  filter: saturate(10%);
}






/*---------------MEDIAQ------------------------*/

@media (max-width: 825px) {
  #zklogo {
    width: 70%;
  }
}

@media (max-width: 1040px) {
  .container-even{
    height: 350px;
  }
  .container-single{
    height: 350px;
  }
  .examplephoto {
    width: 90%;
  }
  li.star{
    width: 80%;
  }
}
@media (max-width: 834px) {
   div div.top-right{
    max-width: 60%;
  }
  div div.top-right{
    top: 16px;
    right: 16px;
  }
  form.mail-us textarea{
    display: block;
    width: 80%;
  }
}
@media (max-width: 655px) {
  a.cool-btn{
    font-size: 0.8rem;
    padding: 0.4rem 0.9rem;
  }
}


@media (max-width: 600px) {
  div div.top-right{
    font-weight: 450;
    font-size: 15px;
    top: 16px;
    right: 16px;
  }
}

@media (max-width: 520px) {
  .container{
    width: 100%;
  }
}

@media (max-width: 700px) {
  div div.top-right{
    top: 0px;
    right: 10px;
  }
  .bottom-right{
    right: 30px;
  }
}

@media (max-width: 480px) {
  div.tooltip{
    width: 16%;
    height: 8%;
  }
  div.tooltip a img{
    padding-top: 9%;
  }
  a.cool-btn {
    width: 70%;
  }
}

@media (max-width: 510px){
  nav.menu li a {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (max-width: 380px) {
  footer{
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 430px){
  nav.menu li a {
    padding-left: 5px;
    padding-right: 5px;
  }
  nav.menu li a {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 5px;
    margin-right: 5px ;
  }
}



@media (max-width: 770px) {
  p.contact {
    padding-left: 20%;
    font-size: 1rem;
    font-weight: 600;
  }
  p.contact img{
    width: 30px;
  }
  
  form.mail-us textarea{
    margin-left: 6%;
  }
  form.mail-us p{
    padding-top: 20px;
    margin-left: 6%;
    font-size: 1.5rem;
    font-weight: 600;
  }
  form.mail-us input{
    font-size: 1rem;
  }

}
@media (max-width: 880px) {
  .type#map {
    width: 100%;
  }
  div.type iframe{
    width: 100%;
    height: 240px;
  }
}

/*-----------ANIMATIONS-----------------*/

@keyframes mymove {
  from {right: -40%; opacity: 0}
  to {right: 0%; opacity: 1;}
}