@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    font-family: 'Montserrat', sans-serif;
}
p{
  text-align: center;
}

p.intro{
   color: black; 
   background-color: white;
   text-align: center;
   font-size: 25px;
   border-bottom: 3px solid;
   border-bottom-color: rgb(44, 165, 33);
   border-bottom-left-radius: 2cm;
   border-bottom-right-radius: 2cm;
}

.tooltip {
  width: 15%;
  height: 10%;
  max-width: 90px;
  position: fixed;
  top: 30px;
  right: 0px;
  background-color: rgb(228, 224, 224);
  z-index: 1;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
 }


#toplogo {
    display: flex;
    padding-top: 5px;
    padding-bottom: 40px;
    align-items: center;
    justify-content: center;
}
a#logoanchor{
    display: flex;
    justify-content: center;
}

#zklogo{
  width: 60%;
}


div.distinction{
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

li.star{
  margin: 0;
	padding: 20px 0 20px 40px;
	list-style: none;
	background-image: url("images/star.svg");
	background-repeat: no-repeat;
	background-position: left center;
  background-size: 20px;
  width: 400px;
}

ul {
  word-wrap: break-word;
}

.examplephoto{
  width: 500px;
}

.container{
  position: relative;
  text-align: center;
  color: white;
  width: 80%;
  margin: 0 auto;
  height: 300px;
}

.container-even{
  display: flex;
  position: relative;
  background-color: rgb(226, 223, 223);
  width: 100%;
  margin: 0 auto;
  height: 400px;
}

.container-single{
  display: flex;
  position: relative;
  background-color: rgb(255, 255, 255);
  width: 100%;
  margin: 0 auto;
  height: 400px;
}

.type{
  font-size: 1.5rem;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}

.type-img{
  height: 80%;
  width: 90%;
  object-fit: cover;
}


.bottom-right{
  font-weight: 550;
  position: absolute;
  bottom: 30px;
  right: 60px;
}

div div.top-right{
  max-width: 50%;
  font-weight: 550;
  position: absolute;
  top: 30px;
  right: 60px;
}

#ledder{
  height: 300px;
  object-fit: cover;
  filter: saturate(30%);
}

a.cool-btn {
  display: block;
  font-size: 1.0rem;
  padding: 1rem 3rem;
  color: #f4f4f4;
  text-transform: uppercase;
}

.cool-btn{
  text-decoration: none;
  border: 2px solid rgb(250, 252, 250);
  position: relative;
  overflow: hidden;
  transition: all 400ms;
}

.cool-btn:hover {
  font-size: 0.9rem;
  transition: all 550ms;
}

/*------------------MENU----------------------------*/

  
  nav.menu {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
  }

  nav.menu li a {
    display: block;
    padding: 15px;
    padding-top: 0px;
    text-decoration: none;
    color: rgb(107, 103, 103);
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 10px;
  }
  nav.menu li a,
  nav.menu li a:after,
  nav li a:before {
    transition: all .5s;
  }
  nav li a:hover {
    color: rgb(8, 8, 8);
  }

  nav.menu li a,
nav.fill li a {
  position: relative;
}
nav.menu li a:after,
nav.fill li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: rgb(44, 165, 33);
  height: 2px;
}
nav.menu li a:hover:after {
  width: 100%;
}

nav.menu li a.active{
  color: rgb(44, 165, 33);
}



/*----------------------FOOTER-------------------*/

.footer{
  display: flex;
  background-color: rgb(8, 8, 8, 0.2);
  height: 200px;
  justify-content: center;
  align-items: center;
}
footer img{
  height: 60%;
  border-radius: 20px;
}





/*---------------MEDIAQ------------------------*/

@media (max-width: 825px) {
  #zklogo {
    width: 70%;
  }

}

@media (max-width: 1040px) {
  .container-even{
    height: 300px;
  }
  .examplephoto {
    width: 90%;
  }
  li.star{
    width: 80%;
  }
}
@media (max-width: 834px) {
   div div.top-right{
    max-width: 60%;
  }
  div div.top-right{
    top: 16px;
    right: 16px;
  }
}
@media (max-width: 655px) {
  a.cool-btn{
    font-size: 0.8rem;
    padding: 0.4rem 0.9rem;
  }
}


@media (max-width: 600px) {
  div div.top-right{
    font-weight: 450;
    font-size: 15px;
    top: 16px;
    right: 16px;
  }
}

@media (max-width: 520px) {
  .container{
    width: 100%;
  }
}

@media (max-width: 700px) {
  div div.top-right{
    top: 0px;
    right: 10px;

  }
  .bottom-right{
    right: 30px;
  }
}
@media (max-width: 480px) {
  div.tooltip{
    width: 10%;
    height: 8%;
  }
  a.cool-btn {
    width: 70%;
  }

}

